{
  "providers": {
    "MyProvider": {
      "baseUrl": "https://dashscope.aliyuncs.com/compatible-mode/v1",
      "api": "openai-completions",
      "apiKey": "sk-XXXXX",
      "models": [
        {
          "id": "Qwen3.6-Plus",
          "name": "MyModel",
          "reasoning": false,
          "input": ["text"],
          "contextWindow": 128000,
          "maxTokens": 32000,
          "cost": { "input": 0, "output": 0, "cacheRead": 0, "cacheWrite": 0 },
          "compat": {
            "supportsStore": false,
            "supportsDeveloperRole": false
          }
        }
      ]
    }
  }
}
